<ion-content [fullscreen]="true">
  <div class="row px-5 mx-5 pt-5 mt-4">
    <div class="col-3 offset-9">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img src="/assets/img/logo.png" alt="logo" class="logo" />
          </div>

          <div class="mt-5">
            <p class="header">Área de cliente</p>

            <input
              class="input-user"
              type="text"
              autocomplete="off"
              placeholder="CIF/NIF"
            />

            <input
              class="input-pass"
              type="password"
              autocomplete="off"
              placeholder="Clave de acceso"
            />

            <button (click)="redirectToDashboard()" class="btn-access">Acceder</button>
          </div>

          <div>
            <a class="auth-link" href="/recovery-password"
              >¿Has olvidado la clave de acceso?</a
            >
            <a class="auth-link" href="/register">¿Aún no tienes cuenta?</a>
          </div>

          <div class="social text-center mt-5">
            <a href="">
              <img
                class="img-social"
                src="/assets/img/instagram.png"
                alt="instagram"
              />
            </a>

            <a href="">
              <img
                class="img-social"
                src="/assets/img/facebook.png"
                alt="facebook"
              />
            </a>

            <a href="">
              <img class="img-social" src="/assets/img/x.png" alt="x" />
            </a>

            <a href="">
              <img
                class="img-social"
                src="/assets/img/linkdin.png"
                alt="linkdin"
              />
            </a>
          </div>

          <div class="footer text-center">© 2023 Audax Renovables</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
