<ion-content [fullscreen]="true">
  <div class="row px-5 mx-5 pt-5 mt-4">
    <div class="col-3 offset-9">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img src="/assets/img/logo.png" alt="logo" class="logo" />
          </div>

          <div class="mt-5">
            <p class="header">
              Asegurate de que tu nueva contraseña cumple con los <br />
              siguientes requisitos
            </p>

            <ul>
              <li><span>*</span> Al menos 8 caracteres de longitud.</li>
              <li><span>*</span> Incluye al menos una letra mayúscula.</li>
              <li><span>*</span> Incluye al menos una letra minúscula.</li>
              <li><span>*</span> Incluye al menos un número.</li>
              <li><span>*</span> Incluye al menos un caracter especial.</li>
            </ul>

            <div class="password-input-wrapper">
              <input
                class="input-user"
                type="{{ showPasswordOld ? 'text' : 'password' }}"
                autocomplete="off"
                placeholder="Contraseña Actual"
              />
              <span
                class="glyphicon"
                [ngClass]="{ 'glyphicon-eye-open': !showPasswordOld, 'glyphicon-eye-close': showPasswordOld}"
                (click)="togglePasswordOldVisibility()"
              ></span>
            </div>

            <div class="password-input-wrapper">
              <input
                type="{{ showPasswordNew ? 'text' : 'password' }}"
                autocomplete="off"
                placeholder="Nueva Contraseña"
              />
              <span
                class="glyphicon"
                [ngClass]="{ 'glyphicon-eye-open': !showPasswordNew, 'glyphicon-eye-close': showPasswordNew}"
                (click)="togglePasswordNewVisibility()"
              ></span>
            </div>

            <div class="password-input-wrapper">
              <input
                class="input-pass"
                type="{{ showPasswordConfirm ? 'text' : 'password' }}"
                autocomplete="off"
                placeholder="Confirmar Contraseña"
              />
              <span
                class="glyphicon"
                [ngClass]="{ 'glyphicon-eye-open': !showPasswordConfirm, 'glyphicon-eye-close': showPasswordConfirm}"
                (click)="togglePasswordConfirmVisibility()"
              ></span>
            </div>

            <button class="btn-access">Cambia Contraseña</button>
          </div>

          <div>
            <a class="auth-link" href="/login">Iniciar sesion</a>
            <a class="auth-link" href="/register">¿Aún no tienes cuenta?</a>
          </div>

          <div class="footer text-center mt-5">© 2024 Adx Renovables</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
