<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card-contract">
    <ion-grid class="gridContract">
      <ion-row>
        <ion-col
          style="
            display: flex;
            flex-direction: column;
          "
          size="3"
        >
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: start;
            "
          >
            <ion-card class="text-left font-18 mb-14 text-secondary ml-24">Selecciona el punto de suministro</ion-card>

            <ion-card class="ion-card-orange">
              <ion-card-header>
                <ion-card-title>
                  <div><ion-icon name="bulb-outline"></ion-icon> LUZ - 6.1TD</div>
                  <ion-chip>Nivel 1</ion-chip>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <span class="text1">C/Andreu Vidal 15-17 Esc. 1, 2º 1ª</span>
                <span class="text2">CUPS: ES0031408116733006XD0F</span>
              </ion-card-content>
            </ion-card>

            <ion-card class="ion-card-grey">
              <ion-card-header>
                <ion-card-title>
                  <div><ion-icon name="flame-outline"></ion-icon> LUZ - 6.1TD</div>
                  <ion-chip>Nivel 2</ion-chip>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <span class="text1">C/Andreu Vidal 15-17 Esc. 1, 2º 1ª</span>
                <span class="text2">CUPS: ES0031408116733006XD0F</span>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>

        <ion-col size="9">
          <div class="text-center">
            <div class="mt-24 text-secondary font-24">Cambio de titular</div>

            <div class="mt-2 text-secondary font-20">Información del titular</div>

            <ion-grid class="mt-24">
              <ion-row>
                <ion-col size="1"></ion-col>

                <ion-col size="10">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <ion-grid class="text-left text-secondary">
                          <ion-row>
                            <ion-col class="font-18">Datos del titular actual</ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-weight-bold font-16 mt-38 mb-19">Información general</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Nombre titular</ion-col>
                            <ion-col class="font-16">Javier de Gracia Losada</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">NIF/CIF</ion-col>
                            <ion-col class="font-16">53289229T</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Provincia</ion-col>
                            <ion-col class="font-16">javi.degracia&#64;gmail.com</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Teléfono</ion-col>
                            <ion-col class="font-16">657 76 87 98</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-weight-bold font-16 mt-38 mb-19">Dirección</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Dirección</ion-col>
                            <ion-col class="font-16">C/Major, 24 4º 1ª Esc. A</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Población</ion-col>
                            <ion-col class="font-16">08140 Caldes de Montbui</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Correo electrónico</ion-col>
                            <ion-col class="font-16">Barcelona</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-weight-bold font-16 mt-38 mb-19">Datos bancarios</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Nombre entidad</ion-col>
                            <ion-col class="font-16">C/Major, 24 4º 1ª Esc. A</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Domicilio bancario</ion-col>
                            <ion-col class="font-16">08140 Caldes de Montbui</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Autor pago</ion-col>
                            <ion-col class="font-16">Barcelona</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">NIF/CIF Pago</ion-col>
                            <ion-col class="font-16">56456576T</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Número de cuenta</ion-col>
                            <ion-col class="font-16">0000 0000 0000 0000 0000</ion-col>
                            <ion-col></ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>
                  </div>

                  <div class="card mt-24">
                    <div class="card-body">
                      <div>
                        <ion-grid class="text-left text-secondary">
                          <ion-row class="mb-9">
                            <ion-col class="font-16 font-weight-bold">Subrugación</ion-col>
                          </ion-row>

                          <ion-row class="mb-24">
                            <ion-col class="font-14">
                              Si clicas subrogación, el nuevo titular del suministro asumirá los compromisos adquiridos por el anterior titular, ocupando su posición.
                            </ion-col>
                          </ion-row>

                          <ion-row class="font-14">
                            <ion-col>
                              <span class="w-200 d-inline-block">Sin subrogación</span> <ion-checkbox></ion-checkbox>
                            </ion-col>
                          </ion-row>

                          <ion-row class="font-14">
                            <ion-col>
                              <span class="w-200 d-inline-block">Subrogación</span> <ion-checkbox></ion-checkbox>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>
                  </div>

                  <div class="card mt-24">
                    <div class="card-body">
                      <div>
                        <ion-grid class="text-left text-secondary">
                          <ion-row>
                            <ion-col class="font-18">Datos del nuevo titular</ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-weight-bold font-16 mt-38 mb-19">Información general</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Nombre</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">NIF/CIF</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Provincia</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Teléfono</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-weight-bold font-16 mt-38 mb-19">Dirección</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Dirección</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Población</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Correo electrónico</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-weight-bold font-16 mt-38 mb-19">Datos bancarios</ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Nombre entidad</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Domicilio bancario</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Autor pago</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">NIF/CIF Pago</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="font-14">Número de cuenta</ion-col>
                            <ion-col class="font-16"><input type="text" class="w-320 h-38 radius-4 border-1 mb-4"></ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="12" class="font-16 font-weight-bold mt-33">¿Qué datos queires que usemos para enviar la plantilla de solicitud de cambio de titular?</ion-col>
                          </ion-row>

                          <ion-row class="font-14 mt-11">
                            <ion-col>
                              <span class="w-200 d-inline-block">Contacto</span> <ion-checkbox></ion-checkbox>
                            </ion-col>
                          </ion-row>

                          <ion-row class="font-14">
                            <ion-col>
                              <span class="w-200 d-inline-block">Titular</span> <ion-checkbox></ion-checkbox>
                            </ion-col>
                          </ion-row>

                          <ion-row class="font-14">
                            <ion-col>
                              <span class="w-200 d-inline-block">Suministro</span> <ion-checkbox></ion-checkbox>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="12" class="font-16 font-weight-bold mt-33">Imagen del DNI del nuevo titular/representante</ion-col>
                          </ion-row>

                          <ion-row class="mt-3">
                            <ion-col class="font-14">DNI</ion-col>
                            <ion-col class="border-dashed pt-24 px-53 pb-10">
                              <br>
                              <img src="/assets/img/upload.svg" alt="upload">
                            </ion-col>
                            <ion-col></ion-col>
                          </ion-row>

                          <ion-row class="mt-35">
                            <ion-col class="font-14">
                              <ion-checkbox></ion-checkbox> He leído y acepto la Información Básica sobre Protección de datos, el <a class="text-secondary" target="_blank" href="https://www.audaxrenovables.com/informacion-legal/">Aviso legal</a> y <a class="text-secondary" target="_blank" href="https://www.audaxrenovables.com/aviso-de-privacidad">Aviso de privacidad</a>.
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col class="text-center">
                              <ion-button class="mt-51 mb-28 font-16 w-182 h-38">Guardar</ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>
                  </div>

                  <div class="w-100 text-left font-12 text-secondary mt-19">
                    Responsable: Audax Renovables, S.A. Finalidad: Gestionar tu solicitud para contactar contigo en relación con las cuestiones que hayas 
                    planteado en el campo “mensaje”. Legitimación: Tu consentimiento para la finalidad descrita. Destinatarios: No se cederán datos a 
                    terceros no necesarios para el desarrollo de la actividad, salvo por obligación legal. No se harán transferencias de datos a terceros 
                    países. Derechos: Puedes acceder, rectificar y suprimir tus datos, así como otros derechos, como se explica en la información adicional. <br>
                    Información adicional y detallada: <span class="text-underline">Aviso de Privacidad</span>.
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
