<ion-split-pane when="xs" contentId="main">
  <ion-menu
    contentId="main"
    class="sidebar {{ !showMenu ? 'sidebar-open' : 'sidebar-close' }}"
  >
    <ion-content class="ion-padding">
      <ion-button class="burger-button" (click)="collapse()">
        <ion-icon name="menu-outline" class="burger"></ion-icon>
      </ion-button>
      <ion-list id="inbox-list">
        <ion-list-header class="ion-list-header">
          <ion-label>
            <img src="/assets/img/logo.png" alt="logo" class="logo" />
          </ion-label>
        </ion-list-header>

        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let p of appPages; let i = index"
        >
          <ion-item
            routerDirection="root"
            [href]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
            class="menu-item"
          >
            <i [class]="p.icon + ' me-2'"></i>
            <ion-label class="lato {{ showMenu && 'text-menu-collapse' }}">{{
              p.title
            }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="labels-list">
        <ion-list-header>Cambio de datos</ion-list-header>

        <ion-menu-toggle auto-hide="false" *ngFor="let item of changes">
          <ion-item
            lines="none"
            (click)="setOpen(item.url)"
            routerLinkActive="selected"
            class="menu-item"
          >
            <i [class]="item.icon + ' me-2'"></i>
            <ion-label class="lato {{ showMenu && 'text-menu-collapse' }}">{{
              item.title
            }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-grid class="user">
        <ion-row>
          <ion-col size="3">
            <i class="fa fa-user-circle"></i>
          </ion-col>

          <ion-col>
            <div class="lato user-name {{ showMenu && 'text-menu-collapse' }}">
              {{ user.name }}
            </div>

            <div class="lato user-dni {{ showMenu && 'text-menu-collapse' }}">
              {{ user.dni }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>

  <ion-list *ngIf="showRightMenu" class="right-menu">
    <div>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9" class="last-news-title">Últimas noticias</ion-col>

            <ion-col class="last-news-link">
              <a href="">Ver todas</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item *ngFor="let new of news" class="news">
        <ion-grid style="padding: 10px !important">
          <ion-row>
            <ion-col>
              <img
                class="new-image"
                src="{{ new.image }}"
                alt="{{ new.title }}"
              />
            </ion-col>

            <ion-col size="9">
              <span class="new-date">{{ new.date }}</span>
              <span class="new-title">{{ new.title }}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="info">
              <span class="info-text"
                >Puedes contactar con nosotros por diferentes vías y nuestro
                departamento de atención al cliente te responderá atendiendo tu
                solicitud.</span
              >
              <br /><br />
              <span>T. 900 828 006</span>
              <span>info&#64;audaxrenovables.com</span>
              <span>De lunes a viernes de 09:00h a 19:00h</span>

              <span class="download-text"
                >¡Descárgate la app de Audax Clientes!</span
              >

              <ion-grid class="icons-apps">
                <ion-row>
                  <ion-col>
                    <img src="/assets/img/apple.png" alt="" />
                  </ion-col>

                  <ion-col>
                    <img src="/assets/img/google.png" alt="" />
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>

  <ion-modal [isOpen]="changePasswordModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="change-password-title">Cambiar contraseña</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding change-password-content">
        <p>Asegurate de que tu nueva contraseña cumple con los siguientes requisitos</p>

        <div>
          <ion-icon class="text-danger" *ngIf="passwordRules.length == false" name="close-circle-outline"></ion-icon>
          <ion-icon class="text-success" *ngIf="passwordRules.length == true" name="checkmark-circle-outline"></ion-icon> 
          Al menos 8 caracteres de longitud
        </div>

        <div>
          <ion-icon class="text-danger" *ngIf="passwordRules.upper == false" name="close-circle-outline"></ion-icon>
          <ion-icon class="text-success" *ngIf="passwordRules.upper == true" name="checkmark-circle-outline"></ion-icon> 
          Incluye al menos una letra mayúscula
        </div>

        <div>
          <ion-icon class="text-danger" *ngIf="passwordRules.lower == false" name="close-circle-outline"></ion-icon>
          <ion-icon class="text-success" *ngIf="passwordRules.lower == true" name="checkmark-circle-outline"></ion-icon> 
          Incluye al menos una letra minúscula
        </div>

        <div>
          <ion-icon class="text-danger" *ngIf="passwordRules.number == false" name="close-circle-outline"></ion-icon>
          <ion-icon class="text-success" *ngIf="passwordRules.number == true" name="checkmark-circle-outline"></ion-icon> 
          Incluye al menos un número
        </div>

        <div>
          <ion-icon class="text-danger" *ngIf="passwordRules.special == false" name="close-circle-outline"></ion-icon>
          <ion-icon class="text-success" *ngIf="passwordRules.special == true" name="checkmark-circle-outline"></ion-icon> 
          Incluye al menos un caracter especial
        </div>

        <div class="mt-5">
          <ion-input label="Contraseña actual *" (keyup)="validateOldPassword($event)" label-placement="floating" fill="outline"></ion-input>
        </div>

        <div class="mt-5">
          <ion-input label="Nueva contraseña *" (keyup)="validateNewPassword($event)" label-placement="floating" fill="outline"></ion-input>
        </div>

        <div class="mt-5">
          <ion-input label="Confirmar contraseña *" (keyup)="confirmPassword($event)" label-placement="floating" fill="outline"></ion-input>
        </div>

        <div class="mt-5">
          <ion-button [disabled]="disableChangePasswordButton">Cambiar contraseña</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>  
</ion-split-pane>
