ion-content {
  --background: url("/assets/img/bg-login.png");
}

.logo {
  width: 50%;
}

.card {
  border-radius: 20px;
}

.footer {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #53555b;
}

.header {
  color: #53555b;
  font-weight: 400;
  font-size: 15px;
}

.img-social {
  margin: 5px;
  margin-top: 30px;
}

.auth-link {
  font-size: 15px;
  weight: 400;
  color: #4994ec;
  display: block;
}

.btn-access {
  width: 100%;
  margin-top: 30px;
  border-radius: 46px;
  padding: 10px;
  color: white;
  margin-bottom: 30px;
  font-size: 15px;
  background-color: #4994ec;
}

input {
  width: 100%;
  font-size: 16px;
  color: #53555b;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid #c8c8c8;
  padding: 10px;
}

.top-radius {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottom-radius {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.password-input-wrapper {
  position: relative;
}