<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card-fact">
    <ion-card-header>
      <ion-card-title>Suministros</ion-card-title>
    </ion-card-header>
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
      "
    >
      <div>
        <ion-searchbar
          placeholder="Buscar por dirección, alias o CUPS"
        ></ion-searchbar>
      </div>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 25px">
      <table>
        <thead>
          <tr style="border-bottom: none">
            <th><ion-checkbox></ion-checkbox></th>
            <th>Tipo</th>
            <th>Alias</th>
            <th>Dirección</th>
            <th>Última factura</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of list">
            <td><ion-checkbox></ion-checkbox></td>
            <td><ion-icon name="{{data.icon}}"></ion-icon> {{data.type}}</td>
            <td>{{data.alias}}</td>
            <td>{{data.address}}</td>
            <td>{{data.lastInvoice}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="paginator">
      <span class="active">1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
    </div>
  </ion-card>
</ion-content>
